<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>
        Sistema de Livros
    </description>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuario</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.PesquisarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TornarAdmin</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.TornarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TornarNormal</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.TornarNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarConviteAmizade</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.EnviarConviteAmizade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirSolicitacoesDeAmizade</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ExibirSolicitacoesDeAmizade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAmigos</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ListarAmigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecomendarLivro</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.RecomendarLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirLivrosRecomendados</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ExibirLivrosRecomendados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirLivroRecomendado</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.AbrirLivroRecomendado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUsuario</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.UpdateUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUsuario</servlet-name>
        <url-pattern>/UpdateUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarUsuarios</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ListarUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarUsuarios</servlet-name>
        <url-pattern>/ListarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeletarUsuario</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.DeletarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletarUsuario</servlet-name>
        <url-pattern>/DeletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarLivros</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.CadastrarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarLivros</servlet-name>
        <url-pattern>/CadastrarLivros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarLivros</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ListarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarLivros</servlet-name>
        <url-pattern>/ListarLivros</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EncontrarLivros</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.EncontrarLivros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncontrarLivros</servlet-name>
        <url-pattern>/EncontrarLivros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuario</servlet-name>
        <url-pattern>/PesquisarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TornarAdmin</servlet-name>
        <url-pattern>/TornarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TornarNormal</servlet-name>
        <url-pattern>/TornarNormal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AbrirUsuario</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.AbrirUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbrirUsuario</servlet-name>
        <url-pattern>/AbrirUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AbrirLivro</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.AbrirLivro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbrirLivro</servlet-name>
        <url-pattern>/AbrirLivro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControleVerGrupo</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.ControleVerGrupo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleVerGrupo</servlet-name>
        <url-pattern>/ControleVerGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarConviteAmizade</servlet-name>
        <url-pattern>/EnviarConviteAmizade</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AceitaSolicitacaoPeloPerfilVisitante</servlet-name>
        <servlet-class>br.edu.ifpb.ads.psd.projeto.servlets.AceitaSolicitacaoPeloPerfilVisitante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AceitaSolicitacaoPeloPerfilVisitante</servlet-name>
        <url-pattern>/AceitaSolicitacaoPeloPerfilVisitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirSolicitacoesDeAmizade</servlet-name>
        <url-pattern>/ExibirSolicitacoesDeAmizade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAmigos</servlet-name>
        <url-pattern>/ListarAmigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecomendarLivro</servlet-name>
        <url-pattern>/RecomendarLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirLivrosRecomendados</servlet-name>
        <url-pattern>/ExibirLivrosRecomendados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirLivroRecomendado</servlet-name>
        <url-pattern>/AbrirLivroRecomendado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>header.jsp</include-prelude>
            <include-coda>footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
